 

.bills-page {
  padding: 40px;
  background: linear-gradient(135deg, #f5f7ff, #eef1ff);
  min-height: 100vh;
}

.bills-page h2 {
  text-align: center;
  margin-bottom: 30px;
}

.bill-card {
  background: white;
  padding: 20px;
  margin: 15px auto;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.bill-card button {
  margin-top: 10px;
  padding: 8px 14px;
  background-color: #6c63ff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.bill-card button:hover {
  background-color: #574fd6;
}

.overdue {
  color: red;
  font-weight: bold;
}

.reminder {
  color: orange;
  font-weight: bold;
}

.bill-card input {
  display: block;
  width: 95%;
  margin: 5px 0;
  padding: 6px;
}

.bill-card button {
  margin-right: 5px;
}

.search-input {
  display: block;
  margin: 0 auto 25px auto;
  padding: 10px;
  width: 300px;
  border-radius: 8px;
  border: 1px solid #ccc;
}


@media (max-width: 768px) {
  .addbill-box,
  .bill-card {
    width: 95%; /* Take most of screen width */
    padding: 20px;
  }

  .bill-card input {
    width: 100%;
  }

  .search-input {
    width: 90%;
  }
}
