 
.login-page {
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(135deg, #f5f7ff, #eef1ff);
  display: flex;
  justify-content: center;
  align-items: center;
}

 
.center-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

 
.app-name {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 24px;
  color: #2b2b2b;
}

 .login-box {
  width: 90%;
  max-width: 380px;
  padding: 36px;
  border-radius: 14px;
  background-color: white;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

 
.login-title {
  text-align: center;
  margin-bottom: 22px;
  font-size: 22px;
  color: #333;
}
 
.login-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.login-form input:focus {
  outline: none;
  border-color: #6c63ff;
}

 
.login-form button {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: none;
  background-color: #6c63ff;
  color: white;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #5a52e0;
}

 
.register-text {
  margin-top: 18px;
  text-align: center;
  font-size: 14px;
  color: #555;
}

.register-text span {
  color: #6c63ff;
  cursor: pointer;
  font-weight: 500;
}

@media (max-width: 480px) {
  .login-box,
  .register-box {
    width: 95%; /* Fit smaller screens */
    padding: 20px;
  }

  .app-name,
  .register-app-name {
    font-size: 24px; /* Smaller app title */
  }

  .login-title,
  .register-title {
    font-size: 18px; /* Smaller title */
  }
}


